{
  "DataBase": {
    "Database": ""
  },
  "DataExtractor": {
    "IsBackup": true,
    "ScheduleInterval": 10,
    "DR_PHOTO": {
      "PhotoDirName": "Photo",
      "PhotoUrl": "",
      "Interval": 60,
      "ID": 14
    }
  },
  "MessageTransformer": {
    "DR_PHOTO": {
      "ExceptDoctors": [],
      "ID": 30230
    }
  }
}